@{
    var device = ViewBag.Device;
}

@if (device != null && device == "DESKTOP")
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
            <div id="pageBackground_uxx44" data-media-height-override-type=""
                 data-media-position-override="false" class="pageBackground_uxx44 BmZ5pC">
                <div id="bgLayers_pageBackground_uxx44" data-hook="bgLayers" class="MW5IWV">
                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                    <div id="bgMedia_pageBackground_uxx44" class="VgO9Yg"></div>
                </div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="OutIn" class="JshATs SITE_PAGES">
            <div id="SITE_PAGES_TRANSITION_GROUP" class="fcNEqv">
                <div id="uxx44" class="fEm0Bo zK7MhX uxx44">
                    <div class="c7cMWz wixui-page" data-testid="page-bg"></div>
                    <div class="FVGvCX">
                        <div id="Containeruxx44" class="Containeruxx44 SPY_vo">
                            <div data-mesh-id="Containeruxx44inlineContent" data-testid="inline-content"
                                 class="">
                                <div data-mesh-id="Containeruxx44inlineContent-gridContainer"
                                     data-testid="mesh-container-content">
                                    <section id="comp-lldfs3i3" tabindex="-1"
                                             class="Oqnisf comp-lldfs3i3 wixui-section">
                                        <div id="bgLayers_comp-lldfs3i3" data-hook="bgLayers"
                                             class="MW5IWV">
                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                            </div>
                                            <div id="bgMedia_comp-lldfs3i3" class="VgO9Yg"></div>
                                        </div>
                                        <div data-mesh-id="comp-lldfs3i3inlineContent"
                                             data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-lldfs3i3inlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <section id="comp-l2su7l0q"
                                                         class="comp-l2su7l0q CohWsy wixui-column-strip">
                                                    <div id="bgLayers_comp-l2su7l0q"
                                                         data-hook="bgLayers" class="if7Vw2">
                                                        <div data-testid="colorUnderlay"
                                                             class="tcElKx i1tH8h"></div>
                                                        <div id="bgMedia_comp-l2su7l0q" class="wG8dni">
                                                        </div>
                                                    </div>
                                                    <div data-testid="columns" class="V5AUxf">
                                                        <div id="comp-l2su7l32"
                                                             class="comp-l2su7l32 YzqVVZ wixui-column-strip__column">
                                                            <div id="bgLayers_comp-l2su7l32"
                                                                 data-hook="bgLayers" class="MW5IWV">
                                                                <div data-testid="colorUnderlay"
                                                                     class="LWbAav Kv1aVt"></div>
                                                                <div id="bgMedia_comp-l2su7l32"
                                                                     class="VgO9Yg"></div>
                                                            </div>
                                                            <div data-mesh-id="comp-l2su7l32inlineContent"
                                                                 data-testid="inline-content" class="">
                                                                <div data-mesh-id="comp-l2su7l32inlineContent-gridContainer"
                                                                     data-testid="mesh-container-content">
                                                                    <div id="comp-l2x6vmmo"
                                                                         class="KcpHeO tz5f0K comp-l2x6vmmo wixui-rich-text"
                                                                         data-testid="richTextElement">
                                                                        <h1 class="font_5 wixui-rich-text__text"
                                                                            style="font-size:40px; line-height:normal; text-align:center;">
                                                                            <span style="font-size:40px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    <span style="color:#B9E702;"
                                                                                          class="wixui-rich-text__text">
                                                                                        ABOUT
                                                                                        US
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </h1>
                                                                    </div>
                                                                    <div id="comp-l2su7l4q"
                                                                         class="KcpHeO tz5f0K comp-l2su7l4q wixui-rich-text"
                                                                         data-testid="richTextElement">
                                                                        <p class="font_6 wixui-rich-text__text"
                                                                           style="font-size:18px; text-align:center; line-height:normal;">
                                                                            <span class="color_14 wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    <span style="font-size:18px;"
                                                                                          class="wixui-rich-text__text">
                                                                                        Finding
                                                                                        Inspiration in
                                                                                        Every
                                                                                        Turn
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div id="comp-l2su7l4x"
                                                                         class="KcpHeO tz5f0K comp-l2su7l4x wixui-rich-text"
                                                                         data-testid="richTextElement">
                                                                        <p class="font_7 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    IN
                                                                                    Holdings specializes
                                                                                    in providing
                                                                                    management services
                                                                                    in the hospitality
                                                                                    industry, investing
                                                                                    in related projects
                                                                                    and developing its
                                                                                    brands to be leading
                                                                                    ones.
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="font_7 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    <span class="wixGuard wixui-rich-text__text">​</span>
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="font_7 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="color:#d5d5d5;"
                                                                                      class="wixui-rich-text__text">
                                                                                    <span style="font-style:normal;"
                                                                                          class="wixui-rich-text__text">
                                                                                        <span style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"
                                                                                              class="wixui-rich-text__text">
                                                                                            <span style="font-weight:400;"
                                                                                                  class="wixui-rich-text__text">
                                                                                                <span style="letter-spacing:normal;"
                                                                                                      class="wixui-rich-text__text">
                                                                                                    Our
                                                                                                    core
                                                                                                    values
                                                                                                    are
                                                                                                    diversity
                                                                                                    &amp; collaboration;
                                                                                                    innovative
                                                                                                    thinking;
                                                                                                    challenging
                                                                                                    spirit;
                                                                                                    high
                                                                                                    standards
                                                                                                    of
                                                                                                    integrity
                                                                                                    which
                                                                                                    are
                                                                                                    always
                                                                                                    maintained
                                                                                                    and
                                                                                                    optimized
                                                                                                    in
                                                                                                    order
                                                                                                    to
                                                                                                    enhance
                                                                                                    the
                                                                                                    value
                                                                                                    and
                                                                                                    prestige
                                                                                                    to
                                                                                                    the
                                                                                                    brands.
                                                                                                </span>
                                                                                            </span>
                                                                                        </span>
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </section>
                                    <section id="comp-lldfs3i31" tabindex="-1"
                                             class="Oqnisf comp-lldfs3i31 wixui-section">
                                        <div id="bgLayers_comp-lldfs3i31" data-hook="bgLayers"
                                             class="MW5IWV">
                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                            </div>
                                            <div id="bgMedia_comp-lldfs3i31" class="VgO9Yg"></div>
                                        </div>
                                        <div data-mesh-id="comp-lldfs3i31inlineContent"
                                             data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-lldfs3i31inlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <section id="comp-l2su7l55"
                                                         class="comp-l2su7l55 CohWsy wixui-column-strip">
                                                    <div id="bgLayers_comp-l2su7l55"
                                                         data-hook="bgLayers" class="if7Vw2">
                                                        <div data-testid="colorUnderlay"
                                                             class="tcElKx i1tH8h"></div>
                                                        <div id="bgMedia_comp-l2su7l55" class="wG8dni">
                                                        </div>
                                                    </div>
                                                    <div data-testid="columns" class="V5AUxf">
                                                        <div id="comp-l2su7l5d"
                                                             class="comp-l2su7l5d YzqVVZ wixui-column-strip__column">
                                                            <div id="bgLayers_comp-l2su7l5d"
                                                                 data-hook="bgLayers" class="MW5IWV">
                                                                <div data-testid="colorUnderlay"
                                                                     class="LWbAav Kv1aVt"></div>
                                                                <div id="bgMedia_comp-l2su7l5d"
                                                                     class="VgO9Yg">
                                                                    <div id="img_comp-l2su7l5d"
                                                                         class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                                                                         data-image-info="{&quot;containerId&quot;:&quot;comp-l2su7l5d&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:980,&quot;targetHeight&quot;:383,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:1920,&quot;height&quot;:1080,&quot;uri&quot;:&quot;46f0ca_4ce05945092c4c44b524541fc87caf37~mv2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                                         data-bg-effect-name=""
                                                                         data-has-ssr-src="true">
                                                                        <img src="https://static.wixstatic.com/media/46f0ca_4ce05945092c4c44b524541fc87caf37~mv2.jpg/v1/fill/w_1225,h_479,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/46f0ca_4ce05945092c4c44b524541fc87caf37~mv2.jpg" alt="business-people_edited_edited.jpg" style="width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%;" width="980" height="383" fetchpriority="high">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-mesh-id="comp-l2su7l5dinlineContent"
                                                                 data-testid="inline-content" class="">
                                                                <div data-mesh-id="comp-l2su7l5dinlineContent-gridContainer"
                                                                     data-testid="mesh-container-content">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </section>
                                    <section id="comp-lldfs3i4" tabindex="-1"
                                             class="Oqnisf comp-lldfs3i4 wixui-section">
                                        <div id="bgLayers_comp-lldfs3i4" data-hook="bgLayers"
                                             class="MW5IWV">
                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                            </div>
                                            <div id="bgMedia_comp-lldfs3i4" class="VgO9Yg"></div>
                                        </div>
                                        <div data-mesh-id="comp-lldfs3i4inlineContent"
                                             data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-lldfs3i4inlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <section id="comp-l2su7l61"
                                                         class="comp-l2su7l61 CohWsy wixui-column-strip">
                                                    <div id="bgLayers_comp-l2su7l61"
                                                         data-hook="bgLayers" class="if7Vw2">
                                                        <div data-testid="colorUnderlay"
                                                             class="tcElKx i1tH8h"></div>
                                                        <div id="bgMedia_comp-l2su7l61" class="wG8dni">
                                                        </div>
                                                    </div>
                                                    <div data-testid="columns" class="V5AUxf">
                                                        <div id="comp-l2su7l6a"
                                                             class="comp-l2su7l6a YzqVVZ wixui-column-strip__column">
                                                            <div id="bgLayers_comp-l2su7l6a"
                                                                 data-hook="bgLayers" class="MW5IWV">
                                                                <div data-testid="colorUnderlay"
                                                                     class="LWbAav Kv1aVt"></div>
                                                                <div id="bgMedia_comp-l2su7l6a"
                                                                     class="VgO9Yg"></div>
                                                            </div>
                                                            <div data-mesh-id="comp-l2su7l6ainlineContent"
                                                                 data-testid="inline-content" class="">
                                                                <div data-mesh-id="comp-l2su7l6ainlineContent-gridContainer"
                                                                     data-testid="mesh-container-content">
                                                                    <div id="comp-l2x78n71"
                                                                         class="KcpHeO tz5f0K comp-l2x78n71 wixui-rich-text"
                                                                         data-testid="richTextElement">
                                                                        <h1 class="font_5 wixui-rich-text__text"
                                                                            style="font-size:30px; line-height:normal; text-align:center;">
                                                                            <span style="font-size:30px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="color:rgb(185, 231, 2);"
                                                                                      class="wixui-rich-text__text">
                                                                                    OUR
                                                                                    PEOPLE
                                                                                </span>
                                                                            </span>
                                                                        </h1>
                                                                    </div>
                                                                    <div id="comp-l2su7l6s"
                                                                         class="comp-l2su7l6s aVng1S wixui-horizontal-line">
                                                                    </div>
                                                                    <div id="comp-l2su7l7i"
                                                                         class="KcpHeO tz5f0K comp-l2su7l7i wixui-rich-text"
                                                                         data-testid="richTextElement">
                                                                        <p class="font_8 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span class="wixGuard wixui-rich-text__text">​</span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="font_8 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    Passion,
                                                                                    enthusiasm and
                                                                                    creativity are
                                                                                    always three
                                                                                    indispensable
                                                                                    elements which help
                                                                                    us create and
                                                                                    deliver the core
                                                                                    values for our
                                                                                    customers.
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="font_8 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    <span class="wixGuard wixui-rich-text__text">​</span>
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="font_8 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    Specialize
                                                                                    in hospitality
                                                                                    industry, IN
                                                                                    Holdings is built on
                                                                                    a solid foundation
                                                                                    of humanity. At IN
                                                                                    Holdings, we
                                                                                    implement a human
                                                                                    centered strategy.
                                                                                    We care for our
                                                                                    staff on all aspects
                                                                                    and always try to
                                                                                    bring them the most
                                                                                    practical benefits.
                                                                                    With direct training
                                                                                    and support, IN
                                                                                    Holdings has the
                                                                                    capacity,
                                                                                    experience, teamwork
                                                                                    and consensus in the
                                                                                    whole of its
                                                                                    staff.
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="font_8 wixui-rich-text__text"
                                                                           style="font-size:16px; line-height:1.8em; text-align:center;">
                                                                            <span style="font-size:16px;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="letter-spacing:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    <span class="wixGuard wixui-rich-text__text">​</span>
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <div id="comp-lu82ju92" class="MazNVa comp-lu82ju92 wixui-image">
                                                    <div data-testid="linkElement" class="j7pOnl">
                                                        <wow-image id="img_comp-lu82ju92" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-lu82ju92&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:979,&quot;targetHeight&quot;:526,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:3000,&quot;height&quot;:1608,&quot;uri&quot;:&quot;46f0ca_ac9c8e27427f4ac6b85a17d61302e340~mv2.jpg&quot;,&quot;name&quot;:&quot;ALL_edited.jpg&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_ac9c8e27427f4ac6b85a17d61302e340~mv2.jpg/v1/fill/w_1224,h_658,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ALL_edited.jpg">
                                                            <img src="https://static.wixstatic.com/media/46f0ca_ac9c8e27427f4ac6b85a17d61302e340~mv2.jpg/v1/fill/w_1224,h_658,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ALL_edited.jpg" alt="ALL_edited.jpg" width="979" height="526" style="width: 979px; height: 526px; object-fit: cover; object-position: 50% 50%;" fetchpriority="high">
                                                        </wow-image>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    
                                    <section id="comp-lldfs3i6" tabindex="-1"
                                             class="Oqnisf comp-lldfs3i6 wixui-section">
                                        <div id="bgLayers_comp-lldfs3i6" data-hook="bgLayers"
                                             class="MW5IWV">
                                            <div data-testid="colorUnderlay" class="LWbAav Kv1aVt">
                                            </div>
                                            <div id="bgMedia_comp-lldfs3i6" class="VgO9Yg"></div>
                                        </div>
                                        <div data-mesh-id="comp-lldfs3i6inlineContent"
                                             data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-lldfs3i6inlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <section id="comp-l2su7lff"
                                                         class="comp-l2su7lff CohWsy wixui-column-strip">
                                                    <div id="bgLayers_comp-l2su7lff"
                                                         data-hook="bgLayers" class="if7Vw2">
                                                        <div data-testid="colorUnderlay"
                                                             class="tcElKx i1tH8h"></div>
                                                        <div id="bgMedia_comp-l2su7lff" class="wG8dni">
                                                        </div>
                                                    </div>
                                                    <div data-testid="columns" class="V5AUxf">
                                                        <div id="comp-l2su7lfs"
                                                             class="comp-l2su7lfs YzqVVZ wixui-column-strip__column">
                                                            <div id="bgLayers_comp-l2su7lfs"
                                                                 data-hook="bgLayers" class="MW5IWV">
                                                                <div data-testid="colorUnderlay"
                                                                     class="LWbAav Kv1aVt"></div>
                                                                <div id="bgMedia_comp-l2su7lfs"
                                                                     class="VgO9Yg"></div>
                                                            </div>
                                                            <div data-mesh-id="comp-l2su7lfsinlineContent"
                                                                 data-testid="inline-content" class="">
                                                                <div data-mesh-id="comp-l2su7lfsinlineContent-gridContainer" data-testid="mesh-container-content">
                                                                    <div id="comp-l2su7lg9" class="comp-l2su7lg9 aVng1S wixui-horizontal-line"></div>
                                                                    <div id="comp-l2x97oxy" class="MazNVa comp-l2x97oxy wixui-image">
                                                                        <div data-testid="linkElement" class="j7pOnl">
                                                                            <wow-image id="img_comp-l2x97oxy" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-l2x97oxy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:200,&quot;targetHeight&quot;:22,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:2236,&quot;height&quot;:246,&quot;uri&quot;:&quot;46f0ca_dbacbbb5d6654128ab2f1a893ed42771~mv2.png&quot;,&quot;name&quot;:&quot;WhitePalace HVT-Logo-03_edited_edited.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;hasAnimation&quot;:false}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_dbacbbb5d6654128ab2f1a893ed42771~mv2.png/v1/fill/w_250,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/WhitePalace%20HVT-Logo-03_edited_edited.png"><img src="https://static.wixstatic.com/media/46f0ca_dbacbbb5d6654128ab2f1a893ed42771~mv2.png/v1/fill/w_250,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/WhitePalace%20HVT-Logo-03_edited_edited.png" alt="WhitePalace HVT-Logo-03_edited_edited.png" style="width: 200px; height: 22px; object-fit: cover; object-position: 50% 50%;" width="200" height="22" fetchpriority="high"></wow-image>
                                                                        </div>
                                                                    </div>
                                                                    <div id="comp-l2x95v9j" class="MazNVa comp-l2x95v9j wixui-image">
                                                                        <div data-testid="linkElement" class="j7pOnl">
                                                                            <wow-image id="img_comp-l2x95v9j" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-l2x95v9j&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:138,&quot;targetHeight&quot;:69,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:305,&quot;height&quot;:336,&quot;uri&quot;:&quot;46f0ca_ca7f15d0c45a485db7711acace09d138~mv2.png&quot;,&quot;name&quot;:&quot;Logo PNG trắng_edited.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;crop&quot;:{&quot;x&quot;:0,&quot;y&quot;:82,&quot;width&quot;:305,&quot;height&quot;:153,&quot;svgId&quot;:&quot;909695c1e003409ba70b5561666c7c4d.svg&quot;}}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_ca7f15d0c45a485db7711acace09d138~mv2.png/v1/crop/x_0,y_82,w_305,h_153/fill/w_173,h_86,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo%20PNG%20tr%E1%BA%AFng_edited.png">
                                                                                <img src="https://static.wixstatic.com/media/46f0ca_ca7f15d0c45a485db7711acace09d138~mv2.png/v1/crop/x_0,y_82,w_305,h_153/fill/w_173,h_86,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo%20PNG%20tr%E1%BA%AFng_edited.png" alt="Logo PNG trắng_edited.png" style="width: 138px; height: 69px; object-fit: cover; object-position: 50% 50%;" width="138" height="69" fetchpriority="high">
                                                                            </wow-image>
                                                                        </div>
                                                                    </div><div id="comp-lu82qxzg" class="MazNVa comp-lu82qxzg wixui-image">
                                                                        <div data-testid="linkElement" class="j7pOnl">
                                                                            <wow-image id="img_comp-lu82qxzg" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-lu82qxzg&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:57,&quot;targetHeight&quot;:46,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:4500,&quot;height&quot;:3925,&quot;uri&quot;:&quot;46f0ca_5c270e7ec9214ff08b4881e6488e1553~mv2.png&quot;,&quot;name&quot;:&quot;LOGO REYHOTEL-04.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;crop&quot;:{&quot;x&quot;:0,&quot;y&quot;:0,&quot;width&quot;:4500,&quot;height&quot;:3645,&quot;svgId&quot;:&quot;909695c1e003409ba70b5561666c7c4d.svg&quot;}}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_5c270e7ec9214ff08b4881e6488e1553~mv2.png/v1/crop/x_0,y_0,w_4500,h_3645/fill/w_71,h_58,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO%20REYHOTEL-04.png"><img src="https://static.wixstatic.com/media/46f0ca_5c270e7ec9214ff08b4881e6488e1553~mv2.png/v1/crop/x_0,y_0,w_4500,h_3645/fill/w_71,h_58,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO%20REYHOTEL-04.png" alt="LOGO REYHOTEL-04.png" style="width: 57px; height: 46px; object-fit: cover; object-position: 50% 50%;" width="57" height="46" fetchpriority="high"></wow-image>
                                                                        </div>
                                                                    </div>
                                                                    <div id="comp-lu82uyba" class="MazNVa comp-lu82uyba wixui-image">
                                                                        <div data-testid="linkElement" class="j7pOnl">
                                                                            <wow-image id="img_comp-lu82uyba" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-lu82uyba&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:138,&quot;targetHeight&quot;:40,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:814,&quot;height&quot;:248,&quot;uri&quot;:&quot;46f0ca_b147100319da456f9d9eaee270dfa713~mv2.png&quot;,&quot;name&quot;:&quot;Dining logo_edited.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_b147100319da456f9d9eaee270dfa713~mv2.png/v1/fill/w_173,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Dining%20logo_edited.png">
                                                                                <img src="https://static.wixstatic.com/media/46f0ca_b147100319da456f9d9eaee270dfa713~mv2.png/v1/fill/w_173,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Dining%20logo_edited.png" alt="Dining logo_edited.png" style="width: 138px; height: 40px; object-fit: cover; object-position: 50% 50%;" width="138" height="40" fetchpriority="high">
                                                                            </wow-image>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <div id="comp-l2x93fzn"
                                                     class="KcpHeO tz5f0K comp-l2x93fzn wixui-rich-text"
                                                     data-testid="richTextElement">
                                                    <h1 class="font_5 wixui-rich-text__text"
                                                        style="font-size:30px; line-height:normal; text-align:center;">
                                                        <span style="font-size:30px;"
                                                              class="wixui-rich-text__text">
                                                            <span style="color:rgb(185, 231, 2);"
                                                                  class="wixui-rich-text__text">
                                                                OUR
                                                                BRANDS
                                                            </span>
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}
else
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="pageBackground_uxx44" data-media-height-override-type="" data-media-position-override="false"
             class="pageBackground_uxx44 BmZ5pC">
            <div id="bgLayers_pageBackground_uxx44" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_uxx44" class="VgO9Yg"></div>
            </div>
        </div>
    </div>
    <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
        <div id="SITE_PAGES" data-page-transition="none" class="JshATs SITE_PAGES">
            <div id="uxx44" class="fEm0Bo zK7MhX uxx44">
                <div class="c7cMWz wixui-page" data-testid="page-bg"></div>
                <div class="FVGvCX">
                    <div id="Containeruxx44" class="Containeruxx44 SPY_vo">
                        <div data-mesh-id="Containeruxx44inlineContent" data-testid="inline-content"
                             class="">
                            <div data-mesh-id="Containeruxx44inlineContent-gridContainer"
                                 data-testid="mesh-container-content">
                                <section id="comp-lldfs3i3" tabindex="-1"
                                         class="Oqnisf comp-lldfs3i3 wixui-section">
                                    <div id="bgLayers_comp-lldfs3i3" data-hook="bgLayers"
                                         class="MW5IWV">
                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                        <div id="bgMedia_comp-lldfs3i3" class="VgO9Yg"></div>
                                    </div>
                                    <div data-mesh-id="comp-lldfs3i3inlineContent"
                                         data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-lldfs3i3inlineContent-gridContainer"
                                             data-testid="mesh-container-content">
                                            <section id="comp-l2su7l0q"
                                                     class="comp-l2su7l0q CohWsy wixui-column-strip">
                                                <div id="bgLayers_comp-l2su7l0q" data-hook="bgLayers"
                                                     class="if7Vw2">
                                                    <div data-testid="colorUnderlay"
                                                         class="tcElKx i1tH8h"></div>
                                                    <div id="bgMedia_comp-l2su7l0q" class="wG8dni">
                                                    </div>
                                                </div>
                                                <div data-testid="columns" class="V5AUxf">
                                                    <div id="comp-l2su7l32"
                                                         class="comp-l2su7l32 YzqVVZ wixui-column-strip__column">
                                                        <div id="bgLayers_comp-l2su7l32"
                                                             data-hook="bgLayers" class="MW5IWV">
                                                            <div data-testid="colorUnderlay"
                                                                 class="LWbAav Kv1aVt"></div>
                                                            <div id="bgMedia_comp-l2su7l32"
                                                                 class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-l2su7l32inlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-l2su7l32inlineContent-gridContainer"
                                                                 data-testid="mesh-container-content">
                                                                <div id="comp-l2x6vmmo"
                                                                     class="KcpHeO tz5f0K comp-l2x6vmmo wixui-rich-text"
                                                                     data-testid="richTextElement">
                                                                    <h1 class="font_5 wixui-rich-text__text"
                                                                        style="font-size:20px; line-height:normal; text-align:center;">
                                                                        <span style="font-size:20px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="color:#B9E702;"
                                                                                      class="wixui-rich-text__text">
                                                                                    ABOUT
                                                                                    US
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                                <div id="comp-l2su7l4q"
                                                                     class="KcpHeO tz5f0K comp-l2su7l4q wixui-rich-text"
                                                                     data-testid="richTextElement">
                                                                    <p class="font_6 wixui-rich-text__text"
                                                                       style="font-size:12px; text-align:center; line-height:normal;">
                                                                        <span class="color_14 wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="font-size:12px;"
                                                                                      class="wixui-rich-text__text">
                                                                                    Finding
                                                                                    Inspiration in Every
                                                                                    Turn
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div id="comp-l2su7l4x"
                                                                     class="KcpHeO tz5f0K comp-l2su7l4x wixui-rich-text"
                                                                     data-testid="richTextElement">
                                                                    <p class="font_7 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                IN
                                                                                Holdings specializes in
                                                                                providing management
                                                                                services in the
                                                                                hospitality industry,
                                                                                investing in related
                                                                                projects and developing
                                                                                its brands to be leading
                                                                                ones.
                                                                            </span>
                                                                        </span>
                                                                    </p>

                                                                    <p class="font_7 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span class="wixGuard wixui-rich-text__text">&ZeroWidthSpace;</span>
                                                                            </span>
                                                                        </span>
                                                                    </p>

                                                                    <p class="font_7 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="color:#d5d5d5;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span style="font-style:normal;"
                                                                                      class="wixui-rich-text__text">
                                                                                    <span style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"
                                                                                          class="wixui-rich-text__text">
                                                                                        <span style="font-weight:400;"
                                                                                              class="wixui-rich-text__text">
                                                                                            <span style="letter-spacing:normal;"
                                                                                                  class="wixui-rich-text__text">
                                                                                                Our
                                                                                                core
                                                                                                values
                                                                                                are
                                                                                                diversity
                                                                                                &amp;
                                                                                                collaboration;
                                                                                                innovative
                                                                                                thinking;
                                                                                                challenging
                                                                                                spirit;
                                                                                                high
                                                                                                standards
                                                                                                of
                                                                                                integrity
                                                                                                which
                                                                                                are
                                                                                                always
                                                                                                maintained
                                                                                                and
                                                                                                optimized
                                                                                                in order
                                                                                                to
                                                                                                enhance
                                                                                                the
                                                                                                value
                                                                                                and
                                                                                                prestige
                                                                                                to the
                                                                                                brands.
                                                                                            </span>
                                                                                        </span>
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                                <section id="comp-lldfs3i31" tabindex="-1"
                                         class="Oqnisf comp-lldfs3i31 wixui-section">
                                    <div id="bgLayers_comp-lldfs3i31" data-hook="bgLayers"
                                         class="MW5IWV">
                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                        <div id="bgMedia_comp-lldfs3i31" class="VgO9Yg"></div>
                                    </div>
                                    <div data-mesh-id="comp-lldfs3i31inlineContent"
                                         data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-lldfs3i31inlineContent-gridContainer"
                                             data-testid="mesh-container-content">
                                            <section id="comp-l2su7l55"
                                                     class="comp-l2su7l55 CohWsy wixui-column-strip">
                                                <div id="bgLayers_comp-l2su7l55" data-hook="bgLayers"
                                                     class="if7Vw2">
                                                    <div data-testid="colorUnderlay"
                                                         class="tcElKx i1tH8h"></div>
                                                    <div id="bgMedia_comp-l2su7l55" class="wG8dni">
                                                    </div>
                                                </div>
                                                <div data-testid="columns" class="V5AUxf">
                                                    <div id="comp-l2su7l5d"
                                                         class="comp-l2su7l5d YzqVVZ wixui-column-strip__column">
                                                        <div id="bgLayers_comp-l2su7l5d"
                                                             data-hook="bgLayers" class="MW5IWV">
                                                            <div data-testid="colorUnderlay"
                                                                 class="LWbAav Kv1aVt"></div>
                                                            <div id="bgMedia_comp-l2su7l5d"
                                                                 class="VgO9Yg">
                                                                <div id="img_comp-l2su7l5d"
                                                                     class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage"
                                                                     data-bg-effect-name=""
                                                                     data-has-ssr-src="">
                                                                    <img src="/img/media/46f0ca_4ce05945092c4c44b524541fc87caf37~mv2.jpg"
                                                                         alt="business-people_edited_edited.jpg"
                                                                         height="200"
                                                                         style="height: 200px; object-fit: cover; object-position: 50% 50%;"
                                                                         fetchpriority="high">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-mesh-id="comp-l2su7l5dinlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-l2su7l5dinlineContent-gridContainer"
                                                                 data-testid="mesh-container-content">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                                <section id="comp-lldfs3i4" tabindex="-1"
                                         class="Oqnisf comp-lldfs3i4 wixui-section">
                                    <div id="bgLayers_comp-lldfs3i4" data-hook="bgLayers"
                                         class="MW5IWV">
                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                        <div id="bgMedia_comp-lldfs3i4" class="VgO9Yg"></div>
                                    </div>
                                    <div data-mesh-id="comp-lldfs3i4inlineContent"
                                         data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-lldfs3i4inlineContent-gridContainer"
                                             data-testid="mesh-container-content">
                                            <section id="comp-l2su7l61"
                                                     class="comp-l2su7l61 CohWsy wixui-column-strip">
                                                <div id="bgLayers_comp-l2su7l61" data-hook="bgLayers"
                                                     class="if7Vw2">
                                                    <div data-testid="colorUnderlay"
                                                         class="tcElKx i1tH8h"></div>
                                                    <div id="bgMedia_comp-l2su7l61" class="wG8dni">
                                                    </div>
                                                </div>
                                                <div data-testid="columns" class="V5AUxf">
                                                    <div id="comp-l2su7l6a"
                                                         class="comp-l2su7l6a YzqVVZ wixui-column-strip__column">
                                                        <div id="bgLayers_comp-l2su7l6a"
                                                             data-hook="bgLayers" class="MW5IWV">
                                                            <div data-testid="colorUnderlay"
                                                                 class="LWbAav Kv1aVt"></div>
                                                            <div id="bgMedia_comp-l2su7l6a"
                                                                 class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-l2su7l6ainlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-l2su7l6ainlineContent-gridContainer"
                                                                 data-testid="mesh-container-content">
                                                                <div id="comp-l2x78n71"
                                                                     class="KcpHeO tz5f0K comp-l2x78n71 wixui-rich-text"
                                                                     data-testid="richTextElement">
                                                                    <h1 class="font_5 wixui-rich-text__text"
                                                                        style="font-size:20px; line-height:normal; text-align:center;">
                                                                        <span style="font-size:20px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="color:rgb(185, 231, 2);"
                                                                                  class="wixui-rich-text__text">
                                                                                OUR
                                                                                PEOPLE
                                                                            </span>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                                <div id="comp-l2su7l6s"
                                                                     class="comp-l2su7l6s aVng1S wixui-horizontal-line">
                                                                </div>
                                                                <div id="comp-l2su7l7i"
                                                                     class="KcpHeO tz5f0K comp-l2su7l7i wixui-rich-text"
                                                                     data-testid="richTextElement">
                                                                    <p class="font_8 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span class="wixGuard wixui-rich-text__text">&ZeroWidthSpace;</span>
                                                                        </span>
                                                                    </p>

                                                                    <p class="font_8 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                Passion,
                                                                                enthusiasm and
                                                                                creativity are always
                                                                                three indispensable
                                                                                elements which help us
                                                                                create and deliver the
                                                                                core values for our
                                                                                customers.
                                                                            </span>
                                                                        </span>
                                                                    </p>

                                                                    <p class="font_8 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span class="wixGuard wixui-rich-text__text">&ZeroWidthSpace;</span>
                                                                            </span>
                                                                        </span>
                                                                    </p>

                                                                    <p class="font_8 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                Specialize
                                                                                in hospitality industry,
                                                                                IN Holdings is built on
                                                                                a solid foundation of
                                                                                humanity. At IN
                                                                                Holdings, we implement a
                                                                                human centered strategy.
                                                                                We care for our staff on
                                                                                all aspects and always
                                                                                try to bring them the
                                                                                most practical benefits.
                                                                                With direct training and
                                                                                support, IN Holdings has
                                                                                the capacity,
                                                                                experience, teamwork and
                                                                                consensus in the whole
                                                                                of its
                                                                                staff.
                                                                            </span>
                                                                        </span>
                                                                    </p>

                                                                    <p class="font_8 wixui-rich-text__text"
                                                                       style="font-size:12px; line-height:1.8em; text-align:center;">
                                                                        <span style="font-size:12px;"
                                                                              class="wixui-rich-text__text">
                                                                            <span style="letter-spacing:normal;"
                                                                                  class="wixui-rich-text__text">
                                                                                <span class="wixGuard wixui-rich-text__text">&ZeroWidthSpace;</span>
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div id="comp-lu82ju92" class="MazNVa comp-lu82ju92 wixui-image">
                                                                    <div data-testid="linkElement" class="j7pOnl">
                                                                        <wow-image id="img_comp-lu82ju92" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-lu82ju92&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:280,&quot;targetHeight&quot;:151,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:3000,&quot;height&quot;:1608,&quot;uri&quot;:&quot;46f0ca_ac9c8e27427f4ac6b85a17d61302e340~mv2.jpg&quot;,&quot;name&quot;:&quot;ALL_edited.jpg&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_ac9c8e27427f4ac6b85a17d61302e340~mv2.jpg/v1/fill/w_560,h_302,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ALL_edited.jpg">
                                                                        <img src="https://static.wixstatic.com/media/46f0ca_ac9c8e27427f4ac6b85a17d61302e340~mv2.jpg/v1/fill/w_560,h_302,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ALL_edited.jpg" alt="ALL_edited.jpg" width="280" height="151" style="width: 280px; height: 151px; object-fit: cover; object-position: 50% 50%;" fetchpriority="high"></wow-image>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                               
                                <section id="comp-lldfs3i6" tabindex="-1"
                                         class="Oqnisf comp-lldfs3i6 wixui-section">
                                    <div id="bgLayers_comp-lldfs3i6" data-hook="bgLayers"
                                         class="MW5IWV">
                                        <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                        <div id="bgMedia_comp-lldfs3i6" class="VgO9Yg"></div>
                                    </div>
                                    <div data-mesh-id="comp-lldfs3i6inlineContent"
                                         data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-lldfs3i6inlineContent-gridContainer"
                                             data-testid="mesh-container-content">
                                            <div id="comp-l2x93fzn"
                                                 class="KcpHeO tz5f0K comp-l2x93fzn wixui-rich-text"
                                                 data-testid="richTextElement">
                                                <h1 class="font_5 wixui-rich-text__text"
                                                    style="font-size:20px; line-height:normal; text-align:center;">
                                                    <span style="font-size:20px;"
                                                          class="wixui-rich-text__text">
                                                        <span style="color:rgb(185, 231, 2);"
                                                              class="wixui-rich-text__text">
                                                            OUR
                                                            BRANDS
                                                        </span>
                                                    </span>
                                                </h1>
                                            </div>
                                            <section id="comp-l2su7lff"
                                                     class="comp-l2su7lff CohWsy wixui-column-strip">
                                                <div id="bgLayers_comp-l2su7lff" data-hook="bgLayers"
                                                     class="if7Vw2">
                                                    <div data-testid="colorUnderlay"
                                                         class="tcElKx i1tH8h"></div>
                                                    <div id="bgMedia_comp-l2su7lff" class="wG8dni">
                                                    </div>
                                                </div>
                                                <div data-testid="columns" class="V5AUxf">
                                                    <div id="comp-l2su7lfs"
                                                         class="comp-l2su7lfs YzqVVZ wixui-column-strip__column">
                                                        <div id="bgLayers_comp-l2su7lfs"
                                                             data-hook="bgLayers" class="MW5IWV">
                                                            <div data-testid="colorUnderlay"
                                                                 class="LWbAav Kv1aVt"></div>
                                                            <div id="bgMedia_comp-l2su7lfs"
                                                                 class="VgO9Yg"></div>
                                                        </div>
                                                        <div data-mesh-id="comp-l2su7lfsinlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div data-mesh-id="comp-l2su7lfsinlineContent-gridContainer"
                                                                 data-testid="mesh-container-content">
                                                                <div id="comp-l2su7lg9"
                                                                     class="comp-l2su7lg9 aVng1S wixui-horizontal-line">
                                                                </div>
                                                                <div id="comp-l2x97oxy" class="MazNVa comp-l2x97oxy wixui-image">
                                                                    <div data-testid="linkElement" class="j7pOnl">
                                                                        <wow-image id="img_comp-l2x97oxy" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-l2x97oxy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:145,&quot;targetHeight&quot;:18,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:2236,&quot;height&quot;:246,&quot;uri&quot;:&quot;46f0ca_dbacbbb5d6654128ab2f1a893ed42771~mv2.png&quot;,&quot;name&quot;:&quot;WhitePalace HVT-Logo-03_edited_edited.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;hasAnimation&quot;:false}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_dbacbbb5d6654128ab2f1a893ed42771~mv2.png/v1/fill/w_290,h_36,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/WhitePalace%20HVT-Logo-03_edited_edited.png"><img src="https://static.wixstatic.com/media/46f0ca_dbacbbb5d6654128ab2f1a893ed42771~mv2.png/v1/fill/w_290,h_36,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/WhitePalace%20HVT-Logo-03_edited_edited.png" alt="WhitePalace HVT-Logo-03_edited_edited.png" style="width: 145px; height: 18px; object-fit: cover; object-position: 50% 50%;" width="145" height="18" fetchpriority="high"></wow-image>
                                                                    </div>
                                                                </div>
                                                                <div id="comp-l2x95v9j" class="MazNVa comp-l2x95v9j wixui-image">
                                                                    <div data-testid="linkElement" class="j7pOnl">
                                                                        <wow-image id="img_comp-l2x95v9j" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-l2x95v9j&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:113,&quot;targetHeight&quot;:54,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:305,&quot;height&quot;:336,&quot;uri&quot;:&quot;46f0ca_ca7f15d0c45a485db7711acace09d138~mv2.png&quot;,&quot;name&quot;:&quot;Logo PNG trắng_edited.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;crop&quot;:{&quot;x&quot;:0,&quot;y&quot;:82,&quot;width&quot;:305,&quot;height&quot;:153,&quot;svgId&quot;:&quot;909695c1e003409ba70b5561666c7c4d.svg&quot;}}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_ca7f15d0c45a485db7711acace09d138~mv2.png/v1/crop/x_0,y_82,w_305,h_153/fill/w_226,h_108,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo%20PNG%20tr%E1%BA%AFng_edited.png"><img src="https://static.wixstatic.com/media/46f0ca_ca7f15d0c45a485db7711acace09d138~mv2.png/v1/crop/x_0,y_82,w_305,h_153/fill/w_226,h_108,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo%20PNG%20tr%E1%BA%AFng_edited.png" alt="Logo PNG trắng_edited.png" style="width: 113px; height: 54px; object-fit: cover; object-position: 50% 50%;" width="113" height="54" fetchpriority="high"></wow-image>
                                                                    </div>
                                                                </div>
                                                                <div id="comp-lu82qxzg" class="MazNVa comp-lu82qxzg wixui-image">
                                                                    <div data-testid="linkElement" class="j7pOnl">
                                                                        <wow-image id="img_comp-lu82qxzg" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-lu82qxzg&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:44,&quot;targetHeight&quot;:35,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:4500,&quot;height&quot;:3925,&quot;uri&quot;:&quot;46f0ca_5c270e7ec9214ff08b4881e6488e1553~mv2.png&quot;,&quot;name&quot;:&quot;LOGO REYHOTEL-04.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;crop&quot;:{&quot;x&quot;:0,&quot;y&quot;:0,&quot;width&quot;:4500,&quot;height&quot;:3645,&quot;svgId&quot;:&quot;909695c1e003409ba70b5561666c7c4d.svg&quot;}}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_5c270e7ec9214ff08b4881e6488e1553~mv2.png/v1/crop/x_0,y_0,w_4500,h_3645/fill/w_88,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO%20REYHOTEL-04.png"><img src="https://static.wixstatic.com/media/46f0ca_5c270e7ec9214ff08b4881e6488e1553~mv2.png/v1/crop/x_0,y_0,w_4500,h_3645/fill/w_88,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO%20REYHOTEL-04.png" alt="LOGO REYHOTEL-04.png" style="width: 44px; height: 35px; object-fit: cover; object-position: 50% 50%;" width="44" height="35" fetchpriority="high"></wow-image>
                                                                    </div>
                                                                </div>
                                                                <div id="comp-lu82uyba" class="MazNVa comp-lu82uyba wixui-image">
                                                                    <div data-testid="linkElement" class="j7pOnl">
                                                                        <wow-image id="img_comp-lu82uyba" class="HlRz5e BI8PVQ" data-image-info="{&quot;containerId&quot;:&quot;comp-lu82uyba&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:100,&quot;targetHeight&quot;:29,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:814,&quot;height&quot;:248,&quot;uri&quot;:&quot;46f0ca_b147100319da456f9d9eaee270dfa713~mv2.png&quot;,&quot;name&quot;:&quot;Dining logo_edited.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/46f0ca_b147100319da456f9d9eaee270dfa713~mv2.png/v1/fill/w_200,h_58,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Dining%20logo_edited.png"><img src="https://static.wixstatic.com/media/46f0ca_b147100319da456f9d9eaee270dfa713~mv2.png/v1/fill/w_200,h_58,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Dining%20logo_edited.png" alt="Dining logo_edited.png" style="width: 100px; height: 29px; object-fit: cover; object-position: 50% 50%;" width="100" height="29" fetchpriority="high"></wow-image>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}





