@{
    var device = ViewBag.Device;
}
<link rel="stylesheet" href="~/css/ir/addons.min.css" />
<link rel="stylesheet" href="~/css/ir/all.css" />
<link rel="stylesheet" href="~/css/ir/plugins.min.css" />
<link rel="stylesheet" href="~/css/ir/slick-theme.css" />
<link rel="stylesheet" href="~/css/ir/slick.css" />
<link rel="stylesheet" href="~/css/ir/style.css" />
<link rel="stylesheet" href="~/css/ir/vendor.min.css" />
<link rel="stylesheet" href="~/css/ir/wow_book.css" />
<link rel="stylesheet" href="~/css/ir/custom.css" />
@if(device == "MOBILE")
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
            <div id="pageBackground_ysuic" data-media-height-override-type=""
                 data-media-position-override="false" class="pageBackground_ysuic BmZ5pC">
                <div id="bgLayers_pageBackground_ysuic" data-hook="bgLayers" class="MW5IWV">
                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                    <div id="bgMedia_pageBackground_ysuic" class="VgO9Yg"></div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="BACKGROUND_GROUP" class="BACKGROUND_GROUP">
        <div id="pageBackground_ysuic" data-media-height-override-type="" data-media-position-override="false"
             class="pageBackground_ysuic BmZ5pC">
            <div id="bgLayers_pageBackground_ysuic" data-hook="bgLayers" class="MW5IWV">
                <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                <div id="bgMedia_pageBackground_ysuic" class="VgO9Yg"></div>
            </div>
        </div>
    </div>

}

<section class="row row-center">
<div id="ctl00_divCenter" class="col-main col-lg-9 mrb20 mrt20">
    <div class="report clearfix Module Module-146">
        <div class="ModuleContent">
            <div class="block-shareHoldersList">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Văn bản</th>
                                <th>Ngày ban hành</th>
                                <th>Tải về</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          
        </div>
    </div>

</div>
</section>

